@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body, ul , li, p{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

@media only screen and (max-width: 700px){
     body{
     background-image: url("../huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.png");
	 background-repeat: no-repeat;
	 background-color: #fff;
	 width: 375

 	}
 	.header{
	display: flex; 
	justify-content: space-between; /* criar uma distancias entre os elementos/ spece between criar um espaço entre eles */
	padding: 20px;

     }
	.topo img{
	max-width: 20%;
	padding: 30px 0px 0px 50px;
	background-color: #674bb1;
	margin: 0 auto;
   }
    img{
	max-width: 50%;
	padding: 0px 0px 0px 10px;
   }
   .flex{
   	flex-wrap: wrap; /* permite quebra o site para a linha de baixo*/
   	width: 375PX;
   	margin: 0 auto;
	  }

	.flex > div {
	flex: 1 150px; /* cria uma base de alinhamento*/
	width: 100PX;
	height: 100px;
	border:1px solid #000;
	padding: 40px;
	background-color: #674bb1;
}
 }