@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body, ul , li, p{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

@media only screen and (max-width: 700px){
    body, ul , li, p{
	margin: 0px;
	padding: 0px;
	list-style: none;
	

}
body{
	background-image: url("images/bg-desktop.png");
	background-color: #674bb1;
}
a{
	text-decoration: none;
}

.header{
	display: flex; 
	justify-content: space-between; /* criar uma distancias entre os elementos/ spece between criar um espaço entre eles */
	padding: 20px;
}
.topo img{
	max-width: 35%;
	padding: 10px 0px 0px 25px;
}
img{
	max-width: 80%;
	padding: 20px 0px 0px 50px;
}
/* FLEXBOX */

.flex{
	display: flex; /* PERMITE DEIXA CADA IMTEM UM DO LADO DO OUTRO */
	flex-wrap: wrap; /* permite quebra o site para a linha de baixo*/

}
.flex > div {
	flex: 1 1 500px; /* cria uma base de alinhamento*/
	widows: 300PX;
	height: 300px;
	border:0px solid #000;
	padding: 0px;

}
.titulo  {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	color: #ffff;
	line-height: 1.5;
	margin-top: 20px;
	padding: 10px 0px 0px 30px;
	text-align: center;

}
.texto{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-top: 30px;
	color:  #e1d4f4;
	text-align: center;
	padding: 10px;

}
input{
	width: 150px;
	height: 40px;
	margin-top: 30px;
	background-color;
	border-radius: 50px;
	border:0px solid;
	display: block;
	margin: 0 auto;
	margin-top: 20px;

}
.footer{
	width: 100%;
	margin-top: 50px;
	padding: 0px;
}
.footer ul{
	display: flex;
	margin: 0 auto;
	

}
.footer li {
	width: 30px;
	height: 30px;
	border:1px solid #fff;
	border-radius: 50%;
	
	
}
.footer i{
	margin-top: 5px;
	font-size: 20px;
	color: #fff;

}

 }