@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
	border: none;
}
body{
	font-family: 'Poppins', sans-serif;	box-sizing: border-box;
	
}
.conteiner{
	background-color: #674bb1;
	width: 1366px;
	height: 635px;
	background-image: url("huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg");
	

	
}
.logo{
	width: 500px;


}
.logo img{
	width: 30%;
	padding: 50px 0px 0px 25px;


}

.imagem{	
	width: 600px;
	height: 300px;
	padding: 50px 0px 10px 30px;	
	float: left;	

	
}

img {
    
    width: 100%;
}
.info{	
	width: 600px;
	height: 350px;
	float: right;
	padding: 50px 0px 30px 60PX;
	
}
.info p{
	 color: #ffffff;
	 font-size: 40px;
	 line-height: 1.5;

}
h2{
	font-size: 16px;
	color: #c5b6e2;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}
input {
	width: 160px;
	height: 45px;
	border-radius: 20px;
	box-shadow: 2px 0px 5px 0px #A9BCF5;
	border: 0px solid;
	color: #c5b6e2;
	margin-top: 50px;	


}
input[type="button"]:hover { 
 background-color: #e980e7;
 color: #ffff;
}

footer{
	width: 1338px;
	height: 55px;
	border: 0px solid #000;
	float: left;
}

.rede_sociais{
	width: 210px;
	height: 100px;
	margin-left: 30px;
	float:right;
	
}

i:hover{
	color: #e980e7;

}



.face{
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	padding: 2px;
	color: #fff;
	}

.face,
.twitter,
.intragran, i{
	margin: 8px;
}
.face:hover{
  border: 1px solid #e980e7;
}



.twitter{
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	padding: 2px;
	color: #fff;

}
.twitter:hover{
  border: 1px solid #e980e7;
}

.instragran{
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	padding: 1px;
	margin: 9px;
	color: #fff;

}
.instragran:hover{
  border: 1px solid #e980e7;
}




@media only screen and (max-width:800px){
	html{
	width: 365px;
	height: 625px;
	padding: 0px;
	
	} 
	body{	
	font-family: 'Poppins', sans-serif;	box-sizing: border-box;
	
	
    }

     .conteiner{
     	background-image: url("huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg");
     	width: 360px;
		height: 900px;
		margin: 0 auto;
		background-repeat: no-repeat;
    }
 	.logo img{
     width: 100%;
	 padding: 20px 0px 0px 25px;


		
 	}
 	.logo{
	width: 150px;
	}
 	 .imagem{
     	width: 250px;
		height: 150px;
		margin: 0 auto;
		padding: 20px 0px 10px 68px;

		
 	}
 	
 	 .info{
     	width: 350px;
		height: 130px;
		padding: 20px 0px 30px 10px;
		
	}
 	  
 	 .info p{
     color: #ffffff;
	 font-size: 20px;
	 line-height: 1.5;
	 padding: 0px 0px 5px 0px;
	 text-align: center;
	 font-family: 'Poppins', sans-serif;	box-sizing: border-box;	


	 
 	}
 	.info h2{
      font-size: 15px;
      width: 300px;
	  padding: 0px 0px 10px 30px;
	  margin-top: 10px;
	  text-align: center;
	  font-family: 'Poppins', sans-serif;	box-sizing: border-box;	
 	}
 	input{
 	  width: 160px;
	  height: 35px;
	  margin: 0px;

 	}
 	.button {
 		 width: 160px;
	     height: 5px;
 		 padding: 0px 0px 0px 90px;
 		 margin-top: 0px;
 	}
 
   .rede_sociais{
	width: 200px;
	height: 50px;
	margin-top: 150px;
	
	
	
    }
    .face{
	width: 25px;
	height: 25px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	padding: 1px;
	color: #fff;
	}
	.twitter{
	width: 25px;
	height: 25px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	padding: 1px;
	color: #fff;

    }
    .instragran{
	width: 25px;
	height: 25px;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	padding: 1px;
	color: #fff;
	margin-top: 6px;

    }
    .face,
    .twitter,
    .intragran, i{
	 margin: 5px;
}

 	footer{
     	width: 275px;
		height: 0px;
		margin: 0px 0px 0px 60px;
	
		
		
 	}
 }








